src/main/xsd/character.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" vc:minVersion="1.1"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="structure">
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="1" minOccurs="1" name="configuration" type="iconfiguration">
                    <xs:keyref name="ref-attack-attribute" refer="key-attribute">
                        <xs:selector xpath=".//attack/item/damage"/>
                        <xs:field xpath="@id"/>
                    </xs:keyref>
                </xs:element>
                <xs:element name="character">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="pokemon">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="ipokemon">
                                            <xs:attribute name="id" type="xs:string" use="required"
                                            />
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="key-pokemon">
                        <xs:selector xpath="pokemon"/>
                        <xs:field xpath="@id"/>
                    </xs:key>
                </xs:element>
            </xs:all>
        </xs:complexType>
        <xs:keyref name="keyref-pokemon-ethnicity" refer="key-ethnicity">
            <xs:selector xpath=".//character/pokemon/generation/ethnicity"/>
            <xs:field xpath="@id"/>
        </xs:keyref>
        <xs:keyref name="keyref-pokemon-attribute" refer="key-attribute">
            <xs:selector xpath=".//character/pokemon/generation/attribute"/>
            <xs:field xpath="@id"/>
        </xs:keyref>
        <xs:keyref name="keyref-pokemon-motivation" refer="key-motivation">
            <xs:selector xpath=".//character/pokemon/generation/motivation"/>
            <xs:field xpath="@id"/>
        </xs:keyref>
        <xs:keyref name="keyref-pokemon-attack" refer="key-attack">
            <xs:selector xpath=".//character/pokemon/generation/attack"/>
            <xs:field xpath="@id"/>
        </xs:keyref>
    </xs:element>
    <xs:complexType name="igenerationitem">
        <xs:annotation>
            <xs:documentation>abstract definition of a generation item elementn</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" use="required"/>
        <xs:attribute name="expected" type="xs:double" use="required"/>
        <xs:attribute name="minimum" type="xs:double" use="required"/>
        <xs:attribute name="maximum" type="xs:double" use="required"/>
    </xs:complexType>
    <xs:complexType final="#all" name="iconfiguration">
        <xs:annotation>
            <xs:documentation>abstract definition of the configuration</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element minOccurs="1" name="ethnicity">
                <xs:complexType>
                    <xs:sequence minOccurs="1">
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="item"
                            type="iconfigurationitem"> </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:key name="key-ethnicity">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>
            <xs:element name="motivation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="item"
                            type="iconfigurationitem"> </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:key name="key-motivation">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>
            <xs:element name="attack">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="item">
                            <xs:complexType mixed="false">
                                <xs:complexContent>
                                    <xs:extension base="iattack">
                                        <xs:attribute name="id" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="([a-z0-9_-])+"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="distance" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:double">
                                                  <xs:minExclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="accuracy" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:double">
                                                  <xs:minExclusive value="0"/>
                                                  <xs:maxInclusive value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="energycost" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:double">
                                                  <xs:minExclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                            <xs:unique name="uniquey-attack">
                                <xs:selector xpath="damage"/>
                                <xs:field xpath="@id"/>
                            </xs:unique>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:key name="key-attack">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>
            <xs:element name="attribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="item">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="iconfigurationitem">
                                        <xs:attribute name="agentaccess">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="read"/>
                                                  <xs:enumeration value="write"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:key name="key-attribute">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType final="restriction" name="ipokemon">
        <xs:annotation>
            <xs:documentation>abstract definition of s single pokemon character</xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="generation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ethnicity">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="igenerationitem">
                                        <xs:assert test="@minimum &lt; @expected"/>
                                        <xs:assert test="@expected &lt; @maximum"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="igenerationitem">
                                        <xs:assert test="@minimum &lt; @expected"/>
                                        <xs:assert test="@expected &lt; @maximum"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="motivation">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="igenerationitem">
                                        <xs:assert test="@minimum &lt; @expected"/>
                                        <xs:assert test="@expected &lt; @maximum"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="attack">
                            <xs:complexType>
                                <xs:attribute name="id" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="unique-ethnicity">
                    <xs:selector xpath="ethnicity"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
                <xs:unique name="unique-attribute">
                    <xs:selector xpath="attribute"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
                <xs:unique name="unique-motivation">
                    <xs:selector xpath="motivation"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
                <xs:unique name="unique-attack">
                    <xs:selector xpath="attack"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType abstract="true" final="restriction" name="iattack">
        <xs:annotation>
            <xs:documentation>abstract attack definition</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="damage">
                <xs:complexType>
                    <xs:attribute name="id" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="([a-z0-9_-])+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="value" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:double">
                                <xs:minExclusive value="0"/>
                                <xs:maxInclusive value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="iconfigurationitem">
        <xs:annotation>
            <xs:documentation>abstract definition of a configuration element</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="([a-z0-9_-])+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
